@import play.mvc.Http.Request
@import models.Board
@import models.Game
@(board: models.Board, game: models.Game)(implicit request: Request)

@main("Welcome Chess 0.1") {


<div class="row">


  <div class="column middle">
    </br></br></br></br>
    </br></br>
    <table class="chess-board">
      <tbody>
      <tr>
        <th></th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>E</th>
        <th>F</th>
        <th>G</th>
        <th>H</th>
      </tr>
      @for(row <- (1 to 8).reverse){
      <tr>
        <th>@row</th>
        @for(column <- 1 until 9){
          @if(row == game.getyInitial() && column == game.getxInitial()) {
            <td class="selected"><a href="@routes.HomeController.playMade(column,row)">@board.getSymbolOnSquare(board.accessElement(column, row))</a></td>
          } else if(row == game.getyFinal() && column == game.getxFinal()) {
            <td class="targeted"><a href="@routes.HomeController.playMade(column,row)">@board.getSymbolOnSquare(board.accessElement(column, row))</a></td>
          } else if( (row + column) % 2 == 1){
            <td class="light"><a href="@routes.HomeController.playMade(column,row)">@board.getSymbolOnSquare(board.accessElement(column, row))</a></td>
          } else {
            <td class="dark"><a href="@routes.HomeController.playMade(column,row)">@board.getSymbolOnSquare(board.accessElement(column, row))</a></td>
          }
        }
      </tr>
      }
      </tbody>
    </table>
  </div>


  <div class="column side">
    </br></br>
    <h2 style="text-align:center;">Game Info</h2>
    <h3>Current player: </h3>
    <div>@game.getCurrentPlayer()</div>
    <h3>White in check: </h3>
    <div>@board.isInCheck(Colour.WHITE)</div>
    <h3>Black in check: </h3>
    <div>@board.isInCheck(Colour.BLACK)</div>

    <h3 style="text-align:center;"> - Moves - </h3>

    @for(index <- 0 until board.getMoves().size){
      @if(index % 2 == 0){
        <div><b>&#9633;@(index + 1).</b> @board.getMoves()(index)</div>
      } else {
        <div><b>&#9632;@(index + 1).</b> @board.getMoves()(index)</div>
      }
    }

  </div>


</div>

}
